bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs/ExpenseTrackerClient/FileContentIndex
.vs/ExpenseTrackerClient/v17
.vs/ExpenseTrackerClient/DesignTimeBuild
*.json
.vs/ExpenseTrackerClient/config
.vs/kursach web api/v17
.vs/ProjectEvaluation
.editorconfig
